[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==4.0.1"
cryptography = "*"
psycopg2-binary = "*"
pymysql = "*"
python-jose = "*"
python-multipart = "*"
sqlalchemy = "*"
uvicorn = "*"
passlib = "*"
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
aiofiles = "*"
jinja2 = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
